# Archivos del sistema
.DS_Store
Thumbs.db

# Carpetas generales
target/
bin/
out/

# Archivos de log
*.log

# Archivos temporales
*.tmp
*.swp
*.bak

# Configuración de Maven
.mvn/
!mvn/wrapper/maven-wrapper.jar

# Archivos generados por IDEs

## Eclipse
.classpath
.project
.settings/

## IntelliJ IDEA
.idea/
*.iml
*.iws

## NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Sistema operativo
ehthumbs.db
Icon?
desktop.ini

# Archivos de compilación
*.class

# Otros
*.env
